.pageup {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: #ffffff;
    /* расстояние от правого края окна браузера */
    right: 50px;
    /* расстояние от нижнего края окна браузера */
    bottom: 100px;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 40px;
    /* высота элемента */
    height: 40px;
    img {
        width: 40px;
        height: 40px;
    }
  }
  
  .pageup::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("/icons/uparrow.png");
  }
  
  .pageup-hide {
    display: none;
  }
